<section class="restaurant-map">
  <h1>Static Map:</h1>
  <p>
    <%= image_tag @facade.static_map, alt: "static-map" %>
  </p>
  <h1>Static Map:</h1>
  <p>
    <%= image_tag @facade.static_map, alt: "static-map" %>
  </p>
</section
