<section class="restaurant-map">
  <h1>Static Map:</h1>
  <p>
    <%= image_tag facade.static_map, alt: "static-map" %>
  </p>
  <h1>Java Map:</h1>
  <p>
    <iframe class="map-bottom" width="598" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD4iE2xVSpkLLOXoyqT-RuPwURN3ddScAI&amp;q=Space+Needle,Seattle+WA" allowfullscreen="">
</iframe>
  </p>
</section
