<!--- expect(page).to have_css(".name")
expect(page).to have_css(".address")
expect(page).to have_css(".price_range")
expect(page).to have_css(".cuisine")
expect(page).to have_css(".rating")
expect(page).to have_css(".hours") --->


<li class="name"><% yelp_facade.recommendation.name %></li>
<li class="address"><% yelp_facade.recommendation.address %></li>
<li class="price_range"><% yelp_facade.recommendation.price_range %></li>
<li class="cuisine"><% yelp_facade.recommendation.cuisine %></li>
<li class="rating"><% yelp_facade.recommendation.rating %></li>
<li class="hours"><% yelp_facade.recommendation.hours %></li>
