<nav class="primary_nav">
  <ul class="navlinks">
      <li class="navlink">
        <%= link_to "Home", root_path, method: :get %>
      </li>
      <li class="navlink">
        <%= link_to "Profile", profile_path, method: :get %>
      </li>
      <li class="navlink">
        <%= link_to 'About', about_path, method: :get%>
      </li>
  </ul>
</nav>
