<nav class="primary_nav">
  <section class="nav-links">
      <div class="nav-link">
        <%= link_to "Home", root_path, method: :get %>
      </div>
      <div class="nav-link">
        <%= link_to "Profile", profile_path, method: :get %>
      </div>
      <div class="nav-link">
        <%= link_to 'About', about_path, method: :get%>
      </div>
  </section>
</nav>
