<nav class="primary_nav">
  <section class="right links overflow-auto table mr4">
      <div class="align-middle table-cell p3">
        <%= button_to "Home", root_path, method: :get %>
      </div>
      <div class="align-middle table-cell p3">
        <%= button_to "Profile", profile_path, method: :get %>
      </div>
      <div class="align-middle table-cell p3">
        <%= button_to 'About', about_path, method: :get%>
      </div>
  </section>
</nav>
