<section class='user-info-wrapper'>
  <ul id='user-info'>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
  </ul>

<section id='Visits'>
  <% user.visited_restaurants.each do |restaurant| %>
    <p class='visit'><%= link_to restaurant.name, restaurant.url, target: :_blank %></p>
  <% end %>
</section>


<%= button_to 'Log Out', logout_path, method: :get, class: 'button' %>

</section>
