<script>
  navigator.geolocation.getCurrentPosition(success, error)
</script>

<section class='home-hero'>
  <section class='home-hero-inner'>



    <section class='hero-body'>
      <div class="location-form-padding">
        <div class="location-form">
          <form name = "location_form" action = "">
             <input id="location-search" type = "text" name = "location" placeholder="Search Location (ex. city, address, zip)">
          </form>
        </div>
      </div>
    </section>
  </section>
</section>

<section class="home-buttons">
  <article class="home-buttons-1">
    <h5 id="home-question">Ready to eat?</h5>
    <%= button_to 'Roulette Now', roulette_path, method: :get, :onclick => "writeCookie();", class: 'button', id:'home-button-1' %>
  </article>
  <article class="home-buttons-2">
    <h5 id="home-question">Picky Friends?</h5>
    <%= button_to 'Survey them!', group_roulette_path, method: :get, :onclick => "writeCookie();", class: 'button', id:'home-button-2' %>
  </article>
</section>
