---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=20&location=80202&open_now=true&price=2&radius=8000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4999'
      Ratelimit-Resettime:
      - '2019-04-05T00:00:00+00:00'
      X-Zipkin-Id:
      - 0b9df66a5c5a3854
      X-Proxied:
      - 10-69-80-169-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "LX8nS1dlW7MEZDDEmVcyGw", "alias": "root-down-denver",
        "name": "Root Down", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/EtHR5JwQwZKs3b79GOOPuQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/root-down-denver?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 3091, "categories": [{"alias": "newamerican", "title": "American
        (New)"}, {"alias": "vegan", "title": "Vegan"}, {"alias": "vegetarian", "title":
        "Vegetarian"}], "rating": 4.5, "coordinates": {"latitude": 39.76306, "longitude":
        -105.0056}, "transactions": [], "price": "$$", "location": {"address1": "1600
        W 33rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80211", "country": "US", "state": "CO", "display_address": ["1600 W 33rd
        Ave", "Denver, CO 80211"]}, "phone": "+13039934200", "display_phone": "(303)
        993-4200", "distance": 1301.2842149050452}, {"id": "Ip6MAcRC_HTPxhuKi2ZD2w",
        "alias": "euclid-hall-bar-and-kitchen-denver", "name": "Euclid Hall Bar &
        Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/BIYnxEFUVhMZ-83SsvVBIA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/euclid-hall-bar-and-kitchen-denver?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 2043, [...]
[...]
