---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=50&location=80202&open_now=true&price=1,2&radius=8000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '5000'
      Ratelimit-Resettime:
      - '2019-04-07T00:00:00+00:00'
      X-Zipkin-Id:
      - 427609d6fea921c3
      X-Proxied:
      - 10-64-78-253-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "dnJvyhSPiIVlmpdM_3SCrg", "alias": "snooze-an-a-m-eatery-denver-12",
        "name": "Snooze, An A.M. Eatery", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/QdozUJPNZ2rfQMJcZvMfgw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snooze-an-a-m-eatery-denver-12?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 3804, "categories": [{"alias": "breakfast_brunch", "title":
        "Breakfast & Brunch"}, {"alias": "sandwiches", "title": "Sandwiches"}, {"alias":
        "coffee", "title": "Coffee & Tea"}], "rating": 4.5, "coordinates": {"latitude":
        39.755459608447, "longitude": -104.988913938884}, "transactions": [], "price":
        "$$", "location": {"address1": "2262 Larimer St", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80205", "country": "US", "state": "CO",
        "display_address": ["2262 Larimer St", "Denver, CO 80205"]}, "phone": "+13032970700",
        "display_phone": "(303) 297-0700", "distance": 963.6331565339298}, {"id":
        "KwmKhdWpcIzypdjAUNrc7w", "alias": "mercantile-dining-and-provision-denver",
        "name": "Mercantile Dining & Provision", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/La36RRv14CheGs4x5WAR2Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/mercantile-dining-and-provision-denver?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_cou[...]
[...]
