<h3 id='vote-choice'>Vote for your choice:</h3>


<div class="multi-wrapper">
  <div class="multi-sub-wrapper">

    <% facade.survey_restaurants.each do |survey_restaurant| %>
      <div class="vote-card survey-restaurant">
        <div class="vote-content survey-restaurant-<%= survey_restaurant.id %>">
          <h4 class="name"><%= link_to survey_restaurant.restaurant.name, survey_restaurant.restaurant.url, target: :_blank %></h4>
          <%= button_to "Vote for #{ survey_restaurant.restaurant.name}", survey_path(facade), method: :patch, class: "vote-button",
              params: {
                        restaurant_code: survey_restaurant
                       } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="multi-buttons">
  <%= button_to 'Cancel Survey', cancel_survey_path(facade), method: :post, class: 'cancel-button' %>
</div>
