---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=50&location=Denver,%20CO&open_now=true&price=1,2&radius=8000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4656'
      Ratelimit-Resettime:
      - '2019-04-07T00:00:00+00:00'
      X-Zipkin-Id:
      - 2a8d642391329c5e
      X-Proxied:
      - 10-69-189-55-uswest2bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Ip6MAcRC_HTPxhuKi2ZD2w", "alias": "euclid-hall-bar-and-kitchen-denver",
        "name": "Euclid Hall Bar & Kitchen", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/BIYnxEFUVhMZ-83SsvVBIA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/euclid-hall-bar-and-kitchen-denver?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 2043, "categories": [{"alias": "newamerican", "title": "American
        (New)"}, {"alias": "bars", "title": "Bars"}], "rating": 4.0, "coordinates":
        {"latitude": 39.74773, "longitude": -105.00001}, "transactions": ["pickup",
        "delivery"], "price": "$$", "location": {"address1": "1317 14th St", "address2":
        "", "address3": "", "city": "Denver", "zip_code": "80202", "country": "US",
        "state": "CO", "display_address": ["1317 14th St", "Denver, CO 80202"]}, "phone":
        "+13035954255", "display_phone": "(303) 595-4255", "distance": 2885.0080336399556},
        {"id": "CQNv4SXqFltcwNsx-qHbLQ", "alias": "steubens-uptown-denver", "name":
        "Steuben''s Uptown", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/iPEj2KIB41JR844HgsWXyQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/steubens-uptown-denver?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 2527, "categories": [{"alias": "diners[...]
