---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants&limit=50&location=Denver,%20CO&open_now=true&price=1,2&radius=8000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4810'
      Ratelimit-Resettime:
      - '2019-04-07T00:00:00+00:00'
      X-Zipkin-Id:
      - 127415d8132d8df2
      X-Proxied:
      - 10-64-100-85-uswest1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "gagUrh3806qc5hZ14F0Odw", "alias": "denver-biscuit-co-denver-17",
        "name": "Denver Biscuit Co.", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/NiiTDBCR0Fgw0yD6wC66WQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/denver-biscuit-co-denver-17?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 3023, "categories": [{"alias": "sandwiches", "title": "Sandwiches"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 39.740384, "longitude": -104.949098}, "transactions":
        ["pickup"], "price": "$$", "location": {"address1": "3237 E Colfax Ave", "address2":
        "", "address3": null, "city": "Denver", "zip_code": "80206", "country": "US",
        "state": "CO", "display_address": ["3237 E Colfax Ave", "Denver, CO 80206"]},
        "phone": "+13033777900", "display_phone": "(303) 377-7900", "distance": 1887.2489668123706},
        {"id": "dnJvyhSPiIVlmpdM_3SCrg", "alias": "snooze-an-a-m-eatery-denver-12",
        "name": "Snooze, An A.M. Eatery", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/QdozUJPNZ2rfQMJcZvMfgw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/snooze-an-a-m-eatery-denver-12?adjust_creative=kstLs0KgHxdskM-IpaNJoA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kstLs0KgHxdskM-IpaNJoA",
        "review_count": 3804, "categories[...]
