<section class='About'>
  <h3>About the App</h3>
  <p>The mission here at FoodRoulette is to permanently stop hanger from destroying healthy friendships by making restaurant choices fast, simple, and relevant. We were tired of waiting for our friends to cycle endlessly through Yelp options until they agreed on one, hours later, at which point nobody even cared where they ate anymore.</p>

  <p>So we thought, why not limit choices to a few helpful parameters, and then ask the app to make a decision for us? Enter the "Roulette Now" feature, which searches Yelp for viable options within a nearby radius, and then provides a single suggestion, without the muss and fuss.</p>

  <p>Of course, we all have friends with too much oppositional defiance to accept a single choice made for them. We have a solution for that, too. With our "Survey" option, a user can simply roulette for 3 viable restaurant options, and then send a text to their friends to collect votes. Once a winner has been determined, the app will automatically notify the group of where they'll be eating, and provide a helpful map link.</p>

  <p>With our contribution, we hope to help friendships, team lunches, and family dinner outings healthy withstand the threat of analysis paralysis.</p>

  <h3>About Our Project</h3>
  <p>FoodRoulette is an app developed by students at the Turing School of Software & Design, for a project assignment called <%= link_to "Terrificus", "http://backend.turing.io/module3/projects/terrificus" %>. Terrificus was designed to teach students to take an application from concept to delivery. 4-person teams were given a broad concept and asked to determine MVP features, technical architecture, UI design, and execution processes with very little oversight.</p>

  <p>The project incorporated previously-learned concepts like creating and consuming APIs and authenticating with OAuth, but it also introduced continuous-integration servers and  optimization techniques (i.e. background working and AJAX requests), which most of us hadn't worked with before.</p>

  <p>We wanted the app to be accessible to groups without forcing everyone to create an account with us, but we also wanted the ability to collect usage data with the hope of eventually providing information to businesses on how patrons were choosing (or not choosing) their establishments. We architected for this goal by requiring survey owners, our primary users, to create accounts. But we made it quick and easy to sign up by using Google OAuth. From there, a user can simply enter friends' phone numbers in order to generate a survey. We plan to incorporate the ability to access friends' phone numbers via Google Contacts in an upcoming iteration. We chose Yelp's API as the current leader in restaurant reviews, and we found it very easy to work with.</p>
</section>
