@import 'bootstrap';

body {
  background-color: #75DBCD;
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  padding: 30px;
}

header img {
  height: 70px;
}

header .header-logo {
  margin-left: 20px;
}

header {
    background-color: #D8F793;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 black;
}

header * {
    display: inline;
}

header .navlinks {
  margin-right: 20px;
  border-color: none;
}

header li {
  margin: 20px;
}

nav select {
  display: none;
}

.menu-button {
  background-color: #FF6B35;
  color: white;
   margin-right: 10px;
}

.home-logo-1 {
  margin-left: 25vw;
  margin-top: 20vh;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.home-logo-2 {
  margin-top: 20vh;
  max-width: 100%;
  height: auto;
}

.location-form-padding {
  background-color: #D8F793;
  border-radius: 29px;
  margin-left: 25vw;
  margin-top: 5vh;
  margin-right: 25vw;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

#location-search{
  border-radius: 29px;
  padding: 9px;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 20px;
  width: 38vw;
  text-align: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.home-buttons {
  width: 100%;
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  margin-left: 10vw;
  margin-top: 3vw;
  max-width: 100%;
  height: auto;
}

.home-buttons-1 {
  width: 30%;
  text-align: center;
  vertical-align: top;
  margin-left: 10vw;
}

.home-buttons-2 {
  width: 15%;
  text-align: center;
  vertical-align: top;
  margin-left: 5vw;
}

#new-form-wrapper {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

#home-question {
  font-size: 30px;
  font-weight: bold;
  color: #56004C;
  max-width: 100%;
  height: auto;
}

#login-button {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  background-color: #FF6B35;
}

#new-form-wrapper input[type=submit]{
  margin-top: 5vh;
  text-align: center;
  color: #fff;
  background-color: #56004C;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
}

.button {
  font-weight: 700;
  text-decoration: none;
  padding: 20px 60px;
  min-width: 120px;
  color: #fff;
  background-color: #FF6B35;
  font-size: 16px;
  border-radius: 29px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 340px;
  margin: 5px;
}

// Roulette

.multi-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multi-sub-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.multi-card {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  height: auto;
  margin: 5px;
  width: 315px;
  // border: 1px solid #d3d3d3;
  // border-radius: .75rem;
  // height: auto;
  // background-color: white;
  // margin: 5px;
  // min-width: 365px;
  // width: 32%;
  // flex-wrap: wrap;
}

.multi-buttons {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-wrapper {
  display: flex;
  justify-content: center;
}

.buttons-wrapper {
  justify-content: center;
  margin-top: 15px;
}

.single-card {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  height: auto;
}



.buttons {
  grid-column: 1 / span 2;
  grid-row: 1,2;
  justify-content: center;
}

.roulette-button {
  align-self: center;
  font-weight: 700;
  text-decoration: none;
  padding: 20px 60px;
  min-width: 90px;
  color: #fff;
  background-color: #FF6B35;
  font-size: 16px;
  border-radius: 29px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 260px;
  margin: 8px;
}

.restaurant-image {
  background-size: cover;
  height: 50%;
  background-position: center;
  background-color: #ccc;
  border-radius: .75rem;
}

.content {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.vote-card {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  height: auto;
  margin: 5px;
  width: 315px;
  height: 130px;
  a {
    text-decoration: none;
    color: black;
  }
  // margin: 1%;
  // width: 31%;
}

.vote-button {
  padding: 10px;
  min-width: 60px;
  color: #fff;
  background-color: #8CB369;
  font-size: 10px;
  border-radius: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
  max-width: 240px;
  margin: 0 auto;
}

.vote-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.results-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.results-heading {
  text-align: center;
  margin-bottom: 20px;
}

.results-status {
  margin-top: 20px;
}

#user-info {
  font-size: 20px;
}

#new-form-wrapper input {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  min-width: 120px;
  box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
  font-size: 16px;
  border-radius: 29px;
  display: block;
}

label {
  font-size: 20px;
  color: #56004C;
  font-weight: bold;
  margin-top: 3vh;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  min-width: 60px;
  color: #fff;
  background-color: #56004C;
  font-size: 10px;
  border-radius: 20px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  max-width: 240px;
  margin-top: 20px;
}

.survey-complete-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen
  and (max-width: 575px)
  and (min-width: 200px)
{
  nav ul     { display: none; }
  .dropdown { display: inline-block; }
  .multi-sub-wrapper { flex-direction: column;              align-items: center; }
  .multi-buttons { flex-direction: column;
    align-items: center; justify-content: center;}
  .multi-card { width: 315px; }
}

@media screen
  and (min-width: 576px)
{
  .dropdown { display: none; }
}
