@import 'bootstrap';

body {
  background-color: #75DBCD;
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  padding: 30px;
}

header img {
  height: 70px;
}

header .header-logo {
  margin-left: 20px;
}

header {
    background-color: #D8F793;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 8px 0 black;
}

header * {
    display: inline;
}

header .navlinks {
  margin-right: 20px;
}

header li {
    margin: 20px;

.home-logo-1 {
  margin-left: 25vw;
  margin-top: 20vh;
  align-items: center;
}

.home-logo-2 {
  margin-top: 20vh;
}

.location-form-padding {
  background-color: #D8F793;
  border-radius: 29px;
  margin-left: 70vh;
  margin-right: 70vh;
  padding: 20px;
}

#location-search{
  border-radius: 29px;
  padding: 9px;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 20px;
  width: 48vw;
  text-align: center;
  align-items: center;
}

.home-buttons {
  width: 100%;
  display: inline-flex;
  text-align: center;
  vertical-align: top;
  margin-left: 10vw;
  margin-top: 3vw;
}

.home-buttons-1 {
  width: 30%;
  text-align: center;
  vertical-align: top;
  margin-left: 10vw;
}

.home-buttons-2 {
  width: 15%;
  text-align: center;
  vertical-align: top;
  margin-left: 5vw;
}

#home-question {
  font-size: 30px;
  font-weight: bold;
  color: #56004C;
}

#login-button {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  background-color: #FF6B35;
}

.button {
    font-weight: 700;
    text-decoration: none;
    padding: 20px 60px;
    min-width: 120px;
    color: #fff;
    background-color: #FF6B35;
    font-size: 16px;
    border-radius: 29px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 5px 0 rgba(42,187,155,.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 340px;
    margin: 0 auto;
}
